<div class="container main">
		<div class="hero-unit">
			<h1>SampleApp, using Bootstrap</h1>
			<p>Implementation of Bootstrap from Twitter, with Bootswatch.</p>
		</div>
		<div class="row">
			<div class="span12">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et dolor in tortor pharetra imperdiet. Suspendisse suscipit nunc dolor, vel ultrices leo. Aenean imperdiet elementum est tempus fermentum. In lobortis laoreet diam et facilisis. Vivamus molestie tortor id felis sodales cursus. Nunc gravida, nisi ut scelerisque rutrum, mauris eros pharetra est, sit amet pretium purus neque rutrum tortor. Etiam neque velit, cursus sit amet laoreet non, egestas ac felis. Nam mi urna, consectetur vitae feugiat et, eleifend nec elit. Proin commodo, mi in laoreet euismod, tellus lectus rutrum arcu, nec volutpat tortor odio ornare metus. Nam venenatis dolor quis massa vehicula ut tincidunt quam ultricies. Praesent ultrices posuere nisl, at aliquet orci elementum et.

				<p>Maecenas id nibh eget mi egestas mollis. Curabitur erat est, rhoncus sed ultricies in, consectetur in risus. Fusce rutrum faucibus elit, id varius ligula tempor dictum. Maecenas egestas arcu a velit cursus accumsan. Sed eget ligula elit. Donec pretium, urna eu posuere accumsan, justo massa commodo nunc, ac sagittis dolor urna a nisi. Integer at nibh eget enim rhoncus scelerisque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas magna lorem, aliquet sed aliquet ut, fringilla id leo. Quisque tempor vestibulum eros, quis tempor lacus pharetra in. Sed aliquam, turpis et viverra facilisis, est elit vulputate diam, et facilisis orci dui a tortor. Curabitur sapien felis, vestibulum sed viverra ut, vehicula quis ipsum. Duis pretium, magna eget pretium pharetra, sem nisi dignissim orci, ut posuere turpis nulla scelerisque urna. In auctor blandit consequat. Donec neque purus, mattis sit amet blandit id, vestibulum non felis. Vestibulum erat nunc, ultricies vitae consectetur vel, mattis vitae dolor.</p>

			</div>
		</div>
</div>

