<div class="navbar navbar-fixed-top">	
	<div class="navbar-inner">		
		<div class="container">			
			<a class="brand" href="">StuffXChange</a>		
			<div class="nav-collapse">		
				<ul class="nav">
					<li class="" data-original-title="">
						<a href="">Overview</a>
					</li>

					<li class="" data-original-title="">
						<a href="">Themes</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
